@font-face {
  font-family: 'Wallace';
  src: url('./font/wallace-semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Wallace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  font-family: Wallace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
}

#app {
  width: 100%;
}

.sector-node.is-locked {
  display: none;
}

img {  
   user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}
